<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Cursos Online!
  </h1>
  <img width="300" alt="Coursera Logo" src="http://blogs.elespectador.com/wp-content/uploads/2014/02/Coursera-Logo.png">
  <img width="300" alt="MiriadaX Logo" src="http://1.bp.blogspot.com/-CtB7z7SGESE/UmCWc80xxGI/AAAAAAAAA3U/0vFTXWtW28s/s1600/Logo_Mir%C3%ADadaX.jpg">
</div>
<h2>Tabla de cursos </h2>

<h3>Filtros: </h3>
<form class="form-material" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="row">
    <div class="form-group form-default col-sm-3">
      <label class="float-label">Curso: </label>
      <input name="curso" type="text" class="form-control" required="" [(ngModel)]="curso">
      <span class="form-bar"></span>
    </div>
    <div class="form-group form-default col-sm-3">
      <label class="float-label">Universidad: </label>
      <select name="universidad" ngModel type="text" class="form-control" required="" [(ngModel)]="universidad" (change)="change_universidad()">
          <option *ngFor="let uni of universidades" value="{{ uni }}">{{ uni }}</option>
      </select>
      <span class="form-bar"></span>
    </div>
    <div class="form-group form-default col-sm-3">
      <label class="float-label">Fuente: </label>
      <select name="fuente" ngModel type="text" class="form-control" required="" [(ngModel)]="fuente" (change)="change_fuente()">
          <option *ngFor="let fuente of fuentes" value="{{ fuente }}">{{ fuente }}</option>
      </select>
      <span class="form-bar"></span>
    </div>
    <div class="form-group form-default col-sm-3">
      <label class="float-label">Categoria: </label>
      <select name="categoria" ngModel type="text" class="form-control" required="" [(ngModel)]="categoria" (change)="change_categoria()">
          <option *ngFor="let cat of categorias" value="{{ cat }}">{{ cat }}</option>
      </select>
      <span class="form-bar"></span>
    </div>
  </div>
</form>
<br>
<table style="width:100%">
  <tr>
    <th>Curso</th>
    <th>Universidad</th>
    <th>Fuente</th>
    <th>Categoria</th>
    <th>Enlace</th>
  </tr>
  <tr *ngFor="let i of rows
            | filter : 'fuente' : fuente
            | filter : 'universidad' : universidad
            | filter : 'curso' : curso
            | filter : 'categoria' : categoria ; let i = index">
    <td>{{ i.curso }}</td>
    <td>{{ i.universidad }}</td>
    <td>{{ i.fuente }}</td>
    <td>{{ i.categoria }}</td>
    <td><a href="{{ i.enlace }}" target="_blank">{{ i.enlace }}</a></td>
  </tr>
</table>
